<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  enter first number:
  <input type="number" placeholder="enter  first number" [(ngModel)]="firstNumber">
  <br>
  enter second number:
  <input type="number" placeholder ="enter first number" [(ngModel)]="secondNumber">
  <br>
  Result:
  <input type="number" [(ngModel)]="result">
  <br>
  
  <button (click)="add()">+</button>
  <button (click)="sub()">-</button>
  <button (click)="mul()">*</button>
   <button (click)="div()">/</button>

</body>
</html>