<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>project-05</title>
</head>
<body>
  <h1>{{message}}</h1>
  <h3>angular {{version}} Topics</h3>
  <!--
    <ol>
      <li *ngFor="let topic of topics">
        {{topic}}
      </li>
  -->
  <div>
    Enter Topic:
    <input type="text" placeholder="topic name" #currentTopic/>
    <button type="button" (click)="addTopic(currentTopic.value)">AddTopic</button>
    <button type="button" (click)="search(currentTopic.value)">search</button>
    <button type="button" (click)="delete(currentTopic.value)">delete</button>
    </div>
    <br><br>
    <table>
      <thead>
        <tr>
          <td>Topic Id</td>
          <td>Topic Name</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i=index;let topic of topics">
          <td>
            {{i+1}}
          </td>
          <td>
            {{topic}}
          </td>
          <td>
            <button type="button" (click)="deleteTopic()">Delete</button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
        <td colspan=3> number of topics:{{topics.length}}
        </td>
      </tr>
      </tfoot>
    </table>
  
</body>
</html>