h1{
    color:green;text-align: center
}
h3{
    color: blue; text-align: center
}
table, td,tfoot,thead{
    border: 6px solid black;

}
tbody {
    background-color: palevioletred;
  }
  
  thead {
    color: green;
    text-align: center;
  }
  
  td{
    font-family: verdana;
    font-size: 20px;
  }
  tfoot{
    color: blue;
    text-align: center;

  }